<h1>This is My Homepage</h1>
<%= image_tag 'awesome.jpg', style: 'width: 100%; border-radius: 20px;' %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, vero corporis ab voluptatem unde nihil quaerat debitis animi harum adipisci. Corporis commodi soluta modi enim harum facilis laboriosam ipsa obcaecati.</p>
